<section class='w-[55rem] py-8'>
  <h2 class='mb-6 text-2xl font-semibold'>Conditional View</h2>
  <form
    hx-post='conditional/user-info'
    hx-target='#user-info'
    hx-on::after-request='this.reset()'
    class='mb-6 flex items-end gap-6'
  >
    <div class='flex flex-col gap-1'>
      <label for='name-input' class='text-sm font-semibold'>Name</label>
      <input
        required
        type='text'
        name='name'
        id='name-input'
        class='w-25 h-12 rounded border border-slate-700 px-4 invalid:border-red-300'
      />
    </div>

    <div class='flex flex-col gap-1'>
      <label for='user-type' class='text-sm font-semibold'>User Type</label>
      <select
        required
        name='type'
        id='user-type'
        class='h-12 rounded border border-slate-700 px-4 invalid:border-red-300'
      >
        <option value='owner'>Owner</option>
        <option value='student'>Student</option>
      </select>
    </div>
    <button
      type='submit'
      class='h-12 rounded border border-blue-500 bg-blue-500 px-6 text-slate-50 hover:bg-blue-300 active:bg-blue-700'
    >Submit</button>
  </form>

  <div id='user-info' hx-swap='innerHTML'>
    <p>Please provide user info.</p>
  </div>

</section>
