<nav>
  <ul class='flex items-center gap-5'>
    <li><a href='conditional' class='hover:underline'>Basics</a></li>
    <li><a href='nested' class='hover:underline'>Nested Routes</a></li>
  </ul>
</nav>
