<dl>
  {{#each contacts}}
    {{#with this}}
    <dt class="font-semibold">{{name}}</dt>
      <dd><a href="mailto:{{email}}" class="text-blue-600 hover:text-blue-400">{{email}}</a></dd>
      {{/with}}
  {{/each}}
</dl>
