<section class="border border-slate-700 p-8 lg:w-1/2">
  <h2 class="text-2xl mb-4">Demos</h2>
  <dl>
    <dt class="font-semibold"><a href="/conditional" class="text-blue-700 hover:underline">Basics</a></dt>
    <dd class="mb-4">Demonstrates using HTMX to submit form data, and display information from the backend.</dd>
    <dt class="font-semibold"><a href="/nested" class="text-blue-700 hover:underline">Nested</a></dt>
    <dd class="mb-4">Demonstrates how to create a routed single-page application experience with htmx.</dd>
    <dt class="font-semibold">Bonus</dt>
    <dd class="mb-4">This list was lazy loaded with htmx.</dd>
  </dl>
</section>